
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      
      <form name="confirms" action="/confirms" method="post">
          
          <button type="submit" class="btn btn-primary">Buy Now</button>
      </form>
    </div>
  </div>
</div>
