<header class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <center><h1>{{product.productName}}</h1></center>
          <!-- <span class="subheading">Owner: {{product.username}}</span> -->
        </div>
      </div>
    </div>
  </div>
</header>


<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div style="height: 300px; width: 450px; ">
        <div style="height: 150px; width: 150px; float:left; border: 1px solid black">
        <!--<img src="img/IMG_1133.JPG" height="150" width="150" /></div> -->
        <img class="group list-group-image" src="img/IMG_1133.JPG" alt="" /></div>

        <div style="height: 250px; float: right; padding-left: 20px; width:290px; background-color:#D0D0D0">
          <h4>{{product.productPrice}} </br> </br> {{product.productDescription}}</h4> </br> </br>

            <form name="products" action="/products" method="post"> 
              <button type="" class="btn btn-primary">Buy Now</button>
            </form> </br>
             
          <a class="btn btn-default" href="/"> Bid  </a></br>
          <a href="/reviews">Reviews</a>
        </div>
      </div>
    </div>
  </div>
</div>
<center><div class="ffbs_rating_wrapper">
    <div id='rate_tax1jv' class='ffbs_rate ffbs_rate_border ffbs_centered' data-label-rating='icon' data-label-views='icon' data-label-votes='icon'>
        <!--{[['<img src="http://static.graddit.com/img/star_blue.png"/>']]}--></div>
    <div id='stats_tax1jv' class='ffbs_stats ffbs_centered'></div>
    <div id='share_tax1jv' class='ffbs_share ffbs_share_border ffbs_centered'></div></div>
    <script type='text/javascript' src='http://www.graddit.com/rate/eng/5/tax1jv?id=rate_tax1jv&stats=stats_tax1jv&info=info&info_delay=2&class_star=ffbs_star_img&class_star_set=ffbs_star_img_set&class_star_vote=ffbs_star_img_vote&views=yes&votes=yes&average=yes&share=share_tax1jv'></script> </center>
<br>
<br>
<div id="HCB_comment_box">HTML Comment Box</a> is loading comments...</div>
<link rel="stylesheet" type="text/css" href="http://www.htmlcommentbox.com/static/skins/default/skin.css" />
<script type="text/javascript" language="javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={  };} (function(){s=document.createElement("script");s.setAttribute("type","text/javascript");s.setAttribute("src", "http://www.htmlcommentbox.com/jread?page="+escape((window.hcb_user && hcb_user.PAGE)||(""+window.location)).replace("+","%2B")+"&opts=470&num=10");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>